body,
html {
  /* for default browser reset */
  margin: 0;
  padding: 0;
  background-color: #b0e0e6;
}
img {
  height: 200px;
  width: 200px;
  display: inline-flex;
}
.pic1 img {
  flex: 1;
  width: 200px;
  height: 200px;
}
.pic2 img {
  height: 200px;
  width: 200px;
  display: flex;
}
h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}
h2 {
  color: yellow;
}
.navBar {
  background-color: bisque;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar ul li a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 2px 5px;
}
